<div class="container">
    <div class="box-login">
        <div class="login">
            <div class="header">
                <h1>Faça seu login</h1>
            </div>
            <form class="form">
                <label>Login</label>
                <input>

                <label>Senha</label>
                <input>
            </form>
            <div class="actions">
                <a>Esqueci minha senha</a>
                <button>Logar</button>
            </div>
            <div class="social">
                <button >
                    Login com
                    <img src="/assets/img/icons/facebook.png">
                </button>
                <button >
                    Login com 
                    <img src="/assets/img/icons/google.png">
                </button>
                <button >
                    Login com  <img src="/assets/img/icons/linkedin.png">
                </button>
               
            </div>
        </div>
    </div>
</div>