<div class="container">
    <div class="box-login">
        <ng-template #login>
            <div class="login">
                <div class="header">
                    <h1>Faça seu login</h1>
                </div>
                <form class="form">
                    <label>Login</label>
                    <input>

                    <label>Senha</label>
                    <input>
                </form>
                <div class="actions forgot">
                    <a>Esqueci minha senha</a>
                    <button mat-raised-button color="primary">Logar</button>
                </div>
                <div class="social">
                    <h3>Faça login com</h3>
                    <div class="network">
                        <button>
                            <img src="/assets/img/icons/facebook.png">
                        </button>
                        <button>
                            <img src="/assets/img/icons/google.png">
                        </button>
                        <button>
                            <img src="/assets/img/icons/linkedin.png">
                        </button>
                    </div>

                </div>
                <div class="actions register">
                    <button (click)="registerForm()">Criar uma conta</button>
                </div>
            </div>
        </ng-template>
       <ng-template #register>
        <div class="login">
            <div class="header">
                <h1>Faça seu registro</h1>
            </div>
            <form class="form">
                <label>Nome</label>
                <input>

                <label>Email</label>
                <input>
                <label>Senha</label>
                <input>
            </form>
            <div class="actions forgot">
                <button mat-raised-button color="primary">Registrar conta</button>
            </div>
            <div class="social">
                <h3>Registar com</h3>
                <div class="network">
                    <button>
                        <img src="/assets/img/icons/facebook.png">
                    </button>
                    <button>
                        <img src="/assets/img/icons/google.png">
                    </button>
                    <button>
                        <img src="/assets/img/icons/linkedin.png">
                    </button>
                </div>
            </div>
            <div class="actions register">
                <span>Já tem uma conta </span> <button (click)="singIn()"> faça seu login aqui</button>
            </div>
        </div>
       </ng-template>
       <ng-template [ngTemplateOutlet]="type == 'login' ? login: register "></ng-template>
        <div class="info">
            <div class="header">
                <h3>Contrary to popular belief, Lorem Ipsum is not simply random tex</h3>
            </div>
            <div class="content">
                it is a long established fact that a reader will be distracted by the readable content of a page
                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                distribution of letters, as opposed to using 'Content here, content here', making it look like
                readable English.
            </div>
        </div>
    </div>
</div>